<p> This is Show page</p>
<%= render 'layouts/flash' %>


    <p> Title: <%= @article.title %>
    </p>
    <p> Description: <%= @article.description %>
    </p>
    <p>
        Created by : <%= @article.user.username %>
    </p>
            <% if logged_in? && current_user.id==@article.user.id %>

            <%= link_to "Edit This Article" , edit_article_path(@article) %>
            <%= button_to 'Delete this article', articles_path(@article), method: :delete %>
            <% end %>
      
                    
                        <%= link_to "Show All Articles" , articles_path %>