<%= render "layouts/flash" %><br>
    <%= @user.inspect %><br>
        <p>edit your account </p>
        </p>

        <% if @user.errors.any? %>
            <h2>The following errors prevented article from getting created </h2>
            <ul>
                <% @user.errors.full_messages.each do |error| %>

                    <li>
                        <%= error %>
                    </li>

                    <%end%>
            </ul>
            <% end %>

                <%= form_for @user do |f| %>
                    <p>
                        <%= f.label :username %><br>
                            <%= f.text_field :username %>
                    </p>
                    <p>
                        <%= f.label :password %><br>
                            <%= f.password_field :password %>
                    </p>
                    <p>
                        <%= f.label :email %><br>
                            <%= f.email_field :email %>
                    </p>

                    <p>
                        <%= f.submit "update" %>
                            <p>




                                <% end %>