<%= @user.inspect %>
    
            <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Created at:</th>
                <th>Updated </th>
            </tr>
            
            <% @user.each do |data|%>
                <tr>
                    <td>
                        <%= data.title %>
                    </td>
                    <td>
                        <%= data.description %>
                    </td>
                    <td>
                        <%= data.user.username %>
                    </td>
                    
                    <td>
                        <%= time_ago_in_words(data.created_at) %>
                    </td>
                    <td>
                        <%= time_ago_in_words(data.updated_at) %>
                    </td>
                    <td>
                        Total datas : <%= data.user.articles.count %>
                    </td>
                    
                </tr>
                <% end %>
            
                    </table>