<%= @user.inspect %>
    
            <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Created at:</th>
                <th>Updated </th>
            </tr>
            
            <% @user.each do |article|%>
                <tr>
                    <td>
                        <%= article.title %>
                    </td>
                    <td>
                        <%= article.description %>
                    </td>
                    <td>
                        <%= article.user.username %>
                    </td>
                    
                    <td>
                        <%= time_ago_in_words(article.created_at) %>
                    </td>
                    <td>
                        <%= time_ago_in_words(article.updated_at) %>
                    </td>
                    
                </tr>
                <% end %>
            
                    </table>